<div> 
    <canvas #meuCanvas></canvas>    
</div>
<div class="button-row">
    <button (click)="onClickMe()">Randomize</button>    
    <button (click)="resetChart()">Reset</button>    

    <mat-form-field class="data-inicial" appearance="fill">
        <mat-label>Data Inicial</mat-label>
        <input matInput [min]="minDate" [max]="maxDate" (dateInput)="inputStartEvent($event)" (dateChange)="changeStartEvent($event)" [matDatepicker]="picker1">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="data-final" appearance="fill">
        <mat-label>Data Final</mat-label>
        <input matInput [min]="minDate" [max]="maxDate" (dateInput)="inputEndEvent($event)" (dateChange)="changeEndEvent($event)" [matDatepicker]="picker2">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
      
</div>